/* Navbar */

.navbar-nav .nav-item {
    margin-right: 0;
}

.navbar-nav .nav-item .nav-link .icon {
    height: 1rem;
    width: 1rem;
    fill: #ffffff;
}


/* Sidebar */

.sidebar__categoryList>ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.sidebar__categoryList>ul ul {
    list-style-type: none;
    padding-left: 1rem;
}

.sidebar__categoryList>ul svg {
    height: .5rem;
    margin-right: .5rem;
    width: .5rem;
}


/* Content */

.content__title svg {
    height: 2rem;
    width: 2rem;
}


/* Web > Category */

.categoryItem {
    width: 18rem;
}

.categoryItem__photo {
    background-position: center center;
    background-size: cover;
}

.categoryItem__photoPlaceholder {
    height: 8rem;
    width: 100%;
}

.categoryItem__price {
    color: black;
    font-weight: 600;
}


/* Web > Item */

.item__photo {
    background-position: center center;
    background-size: cover;
    /* width: 100%; */
}

.item__photoPlaceholder {
    height: 8rem;
    width: 16rem;
}


/* User > Item List */

.itemList th,
.itemList td {
    padding: .5rem;
}

.itemList__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 5rem;
}

.itemList__actions svg {
    height: 1rem;
    width: 1rem;
}


/* User > Profile */

.gravatarPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}