html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Electra Bay
    block metas
      meta(name='base-url' content=baseUrl)
    block styles
      link(rel='stylesheet' href='/css/bootswatch-lux-4.0.0.min.css')
      link(rel='stylesheet' href='/css/main.css')
  body
    block body
    block scripts
