mixin getCategoryList(categories, categoryCurrentChain)
  //- ul(class='nav flex-column')
  ul
    each category in categories
      //- li(class='nav-item')
      li
        a(class='nav-link' href='/c/'+category.slug) #{category.name}
        if (categoryCurrentChain !== undefined && categoryCurrentChain.includes(category.id))
          +getCategoryList(category.children, categoryCurrentChain)

nav(class='col-md-2 d-none d-md-block bg-light sidebar')
  div(class='sidebar-sticky')
    +getCategoryList(categories, categoryCurrentChain)
